<footer>
    <div class="class-info footer">
        <div class="class-info-social-media">
            <a href="https://www.facebook.com/rohan.kr.2223"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/roshan-kumar-kanu-50084a2ab/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Roshankanu"><i class="fa-brands fa-github"></i></a>
        </div>
        <div>&copy;  Wanderlust Privated Limited</div>
        <div class="class-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>